name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install protobuf-c
      run: sudo apt install libprotobuf-c-dev protobuf-c-compiler  
    - name: Create directories
      run: mkdir lib binary
    - name: make
      run: make
